name: "Continuous Integration"

on:
  pull_request:
    branches:
      - "*.x"
      - "master"
  push:
    branches:
      - "*.x"
      - "master"
  schedule:
    - cron: "42 3 * * 1"

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
        deps:
          - "lowest"
          - "highest"
        coverage:
          - "false"
        include:
          - deps: "highest"
            php-version: "7.4"
            coverage: "true"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
        with:
          fetch-depth: 2

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "pcov"
          ini-values: "zend.assertions=1"

      - name: "Install dependencies"
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: ${{ matrix.deps }}
          composer-options: --prefer-dist

      - name: "Run PHPUnit"
        run: "vendor/bin/phpunit"
        if: "${{ matrix.coverage != 'true' }}"

      - name: "Run PHPUnit with coverage"
        run: "vendor/bin/phpunit --coverage-clover=coverage.xml"
        if: "${{ matrix.coverage == 'true' }}"

      - name: "Upload coverage"
        uses: codecov/codecov-action@v1
        if: "${{ matrix.coverage == 'true' }}"
        with:
          file: './coverage.xml'
          fail_ci_if_error: true

      - name: "Run PHP-CS-Fixer (E2E test)"
        run: "vendor/bin/php-cs-fixer --dry-run --diff"
